*.releaseBackup

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script



# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*

CodeGenerator.java

# Package Files #
*.jar
*.war
*.ear

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS  ###
.vscode/

### jrebel ###
rebel.xml
rebel-remote.xml

/h3-agent/src/test/java/CodeGenerator.java
/log/

TransDownConfMapper.java
